@font-face {
	font-family: 'nucleo-interface';
	src:url('font/nucleo-interfacefdba.eot?nucelov10');
	src:url('font/nucleo-interfacefdba.eot?nucelov10#iefix') format('embedded-opentype'),
		url('font/nucleo-interfacefdba.html?nucelov10') format('truetype'),
		url('font/nucleo-interfacefdba-2.html?nucelov10') format('woff'),
		url('font/nucleo-interfacefdba.svg?nucelov10#nucelov10') format('svg');
	font-weight: normal;
	font-style: normal;
}

i[class^="sf-icon-"], i[class*=" sf-icon-"] {
	font-family: 'nucleo-interface';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sf-icon-audio-player:before {
    content: "\e910";
}
.sf-icon-video-player:before {
    content: "\e911";
}
.sf-icon-fail:before {
    content: "\e95c";
}
.sf-icon-success:before {
    content: "\e95d";
}
.sf-icon-video-player-fill:before {
    content: "\e960";
}
.sf-icon-settings:before {
    content: "\e952";
}
.sf-icon-lightbox:before {
    content: "\e912";
}
.sf-icon-portfolio:before {
    content: "\e951";
}
.sf-icon-external-link-big:before {
    content: "\e913";
}
.sf-icon-text-big:before {
    content: "\e914";
}
.sf-icon-video-big:before {
    content: "\e95a";
}
.sf-icon-down-arrow-big:before {
    content: "\e956";
}
.sf-icon-up-arrow-big:before {
    content: "\e955";
}
.sf-icon-left-arrow-big:before {
    content: "\e954";
}
.sf-icon-right-arrow-big:before {
    content: "\e915";
}
.sf-icon-flags-france:before {
    content: "\e916";
}
.sf-icon-flags-germany:before {
    content: "\e917";
}
.sf-icon-flags-greece:before {
    content: "\e918";
}
.sf-icon-flags-italy:before {
    content: "\e919";
}
.sf-icon-flags-japan:before {
    content: "\e91a";
}
.sf-icon-flags-netherlands:before {
    content: "\e91b";
}
.icon-russia:before {
    content: "\e91c";
}
.sf-icon-flags-sweden:before {
    content: "\e94b";
}
.sf-icon-flags-portugal:before {
    content: "\e94c";
}
.sf-icon-flags-spain:before {
    content: "\e94d";
}
.sf-icon-flags-usa:before {
    content: "\e94e";
}
.sf-icon-flags-uk:before {
    content: "\e94f";
}
.sf-icon-quote-big:before {
    content: "\e953";
}
.sf-icon-loader .path1:before {
    content: "\e962";
    color: rgba(0, 0, 0, 0.4000000059604645);
}
.sf-icon-loader .path2:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.sf-icon-loader-gap:before {
    content: "\e964";
}
.sf-icon-dollar:before {
    content: "\e965";
}
.sf-icon-euro:before {
    content: "\e966";
}
.sf-icon-pound:before {
    content: "\e967";
}
.sf-icon-yen:before {
    content: "\e968";
}
.sf-icon-checkout:before {
    content: "\e961";
}
.sf-icon-variable:before {
    content: "\10ffff";
}
.sf-icon-preferences:before {
    content: "\e003";
}
.sf-icon-quote:before {
    content: "\e90d";
}
.sf-icon-download:before {
    content: "\e900";
}
.sf-icon-enlarge:before {
    content: "\e901";
}
.sf-icon-down-triangle:before {
    content: "\e902";
}
.sf-icon-up-triangle:before {
    content: "\e903";
}
.sf-icon-left-arrow:before {
    content: "\e904";
}
.sf-icon-right-arrow:before {
    content: "\e905";
}
.sf-icon-left-chevron:before {
    content: "\e906";
}
.sf-icon-right-chevron:before {
    content: "\e907";
}
.sf-icon-down-chevron:before {
    content: "\e908";
}
.sf-icon-up-chevron:before {
    content: "\e909";
}
.sf-icon-read-more:before {
    content: "\e90a";
}
.sf-icon-share:before {
    content: "\e90b";
}
.sf-icon-node:before {
    content: "\e0101";
}
.sf-icon-project:before {
    content: "\e90c";
}
.sf-icon-speech:before {
    content: "\e004";
}
.sf-icon-archive:before {
    content: "\e90e";
}
.sf-icon-like:before {
    content: "\e90f";
}
.sf-icon-pause:before {
    content: "\e91d";
}
.sf-icon-play:before {
    content: "\e91e";
}
.sf-icon-image:before {
    content: "\e91f";
}
.sf-icon-gallery:before {
    content: "\e920";
}
.sf-icon-volume:before {
    content: "\e921";
}
.sf-icon-audio:before {
    content: "\e922";
}
.sf-icon-cart:before {
    content: "\e923";
}
.sf-icon-categories:before {
    content: "\e924";
}
.sf-icon-tags:before {
    content: "\e925";
}
.sf-icon-dribbble:before {
    content: "\e926";
}
.sf-icon-fb:before {
    content: "\e927";
}
.sf-icon-instagram:before {
    content: "\e928";
}
.sf-icon-twitter:before {
    content: "\e929";
}
.sf-icon-video:before {
    content: "\e92a";
}
.sf-icon-check:before {
    content: "\e92b";
}
.sf-icon-subject:before {
    content: "\e92c";
}
.sf-icon-reply:before {
    content: "\e92d";
}
.sf-icon-menu-chevron-right:before {
    content: "\e95f";
}
.sf-icon-quickview:before {
    content: "\e92f";
}
.sf-icon-noview:before {
    content: "\e005";
}
.sf-icon-filter:before {
    content: "\e930";
}
.sf-icon-add-big:before {
    content: "\e931";
}
.sf-icon-remove-big:before, .sf-icon-close:before {
    content: "\e932";
}
.sf-icon-trash:before {
    content: "\e933";
}
.sf-icon-supersearch:before {
    content: "\e934";
}
.sf-icon-search:before {
    content: "\e935";
}
.sf-icon-warning:before {
    content: "\e936";
}
.sf-icon-question:before {
    content: "\e937";
}
.sf-icon-info:before {
    content: "\e938";
}
.sf-icon-sort:before {
    content: "\e939";
}
.sf-icon-comments:before {
    content: "\e93a";
}
.sf-icon-wishlist:before {
    content: "\e93b";
}
.sf-icon-star-fill:before {
    content: "\e93c";
}
.sf-icon-view-default:before {
    content: "\e93d";
}
.sf-icon-view-gallery:before {
    content: "\e93e";
}
.sf-icon-external-link:before {
    content: "\e93f";
}
.sf-icon-menu:before {
    content: "\e940";
}
.sf-icon-text:before {
    content: "\e941";
}
.sf-icon-view-list:before {
    content: "\e942";
}
.sf-icon-add:before {
    content: "\e943";
}
.sf-icon-delete:before {
    content: "\e944";
}
.sf-icon-remove:before {
    content: "\e945";
}
.sf-icon-date:before {
    content: "\e946";
}
.sf-icon-star-stroke:before {
    content: "\e947";
}
.sf-icon-half-star:before {
    content: "\e948";
}
.sf-icon-account:before {
    content: "\e949";
}
.sf-icon-name:before {
    content: "\e94a";
}
.sf-icon-sticky-post:before {
    content: "\e950";
}
.sf-icon-phone:before {
    content: "\e957";
}
.sf-icon-down-arrow:before {
    content: "\e958";
}
.sf-icon-up-arrow:before {
    content: "\e959";
}
.sf-icon-tick:before {
    content: "\e95b";
}
.sf-icon-menu-chevron:before {
    content: "\e95e";
}
.sf-icon-email:before {
    content: "\e92e";
}


@font-face {
	font-family: 'nucleo-general';
	src:url('font/nucleo-general649b.eot?ferlac');
	src:url('font/nucleo-general649b.eot?ferlac#iefix') format('embedded-opentype'),
		url('font/nucleo-general649b.html?ferlac') format('truetype'),
		url('font/nucleo-general649b-2.html?ferlac') format('woff'),
		url('font/nucleo-general649b.svg?ferlac#nucleo-general') format('svg');
	font-weight: normal;
	font-style: normal;
}

i[class^="nucleo-icon-"], i[class*=" nucleo-icon-"] {
	font-family: 'nucleo-general';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nucleo-icon-add:before {
    content: "\e97d";
}
.nucleo-icon-alert-help:before {
    content: "\e983";
}
.nucleo-icon-alert-info:before {
    content: "\e984";
}
.nucleo-icon-alert-square:before {
    content: "\e99a";
}
.nucleo-icon-alert-warning:before {
    content: "\e982";
}
.nucleo-icon-anchor:before {
    content: "\e957";
}
.nucleo-icon-app:before {
    content: "\e922";
}
.nucleo-icon-archive:before {
    content: "\e985";
}
.nucleo-icon-archive-content:before {
    content: "\e934";
}
.nucleo-icon-arrow-circle-right:before {
    content: "\e90f";
}
.nucleo-icon-arrow-left:before {
    content: "\e907";
}
.nucleo-icon-arrow-right:before {
    content: "\e908";
}
.nucleo-icon-arrow-square-right:before {
    content: "\e90e";
}
.nucleo-icon-arrow-up:before {
    content: "\e909";
}
.nucleo-icon-attach:before {
    content: "\e975";
}
.nucleo-icon-award:before {
    content: "\e913";
}
.nucleo-icon-badge:before {
    content: "\e914";
}
.nucleo-icon-bag:before {
    content: "\e95c";
}
.nucleo-icon-bag-add:before {
    content: "\e95d";
}
.nucleo-icon-bag-remove:before {
    content: "\e95e";
}
.nucleo-icon-barchart:before {
    content: "\e917";
}
.nucleo-icon-bell:before {
    content: "\e976";
}
.nucleo-icon-board:before {
    content: "\e92f";
}
.nucleo-icon-briefcase:before {
    content: "\e915";
}
.nucleo-icon-brightness:before {
    content: "\e94c";
}
.nucleo-icon-brush:before {
    content: "\e923";
}
.nucleo-icon-bulb:before {
    content: "\e916";
}
.nucleo-icon-camera:before {
    content: "\e94d";
}
.nucleo-icon-capitalize:before {
    content: "\e971";
}
.nucleo-icon-chat-fill:before {
    content: "\e988";
}
.nucleo-icon-chat-stroke:before {
    content: "\e987";
}
.nucleo-icon-check:before {
    content: "\e979";
}
.nucleo-icon-check-small:before {
    content: "\e977";
}
.nucleo-icon-check-square:before {
    content: "\e978";
}
.nucleo-icon-cheque:before {
    content: "\e919";
}
.nucleo-icon-chevron-down:before {
    content: "\e90c";
}
.nucleo-icon-chevron-left:before {
    content: "\e90a";
}
.nucleo-icon-chevron-right:before {
    content: "\e90b";
}
.nucleo-icon-chevron-up:before {
    content: "\e90d";
}
.nucleo-icon-clock:before {
    content: "\e999";
}
.nucleo-icon-cloud-download:before {
    content: "\e900";
}
.nucleo-icon-cloud-fog:before {
    content: "\e9a3";
}
.nucleo-icon-cloud-hail:before {
    content: "\e9a4";
}
.nucleo-icon-cloud-light:before {
    content: "\e9a5";
}
.nucleo-icon-cloud-upload:before {
    content: "\e901";
}
.nucleo-icon-coffee:before {
    content: "\e939";
}
.nucleo-icon-command:before {
    content: "\e924";
}
.nucleo-icon-countdown:before {
    content: "\e94e";
}
.nucleo-icon-credit-card:before {
    content: "\e95f";
}
.nucleo-icon-crop:before {
    content: "\e925";
}
.nucleo-icon-cutlery:before {
    content: "\e93a";
}
.nucleo-icon-delivery:before {
    content: "\e960";
}
.nucleo-icon-design:before {
    content: "\e926";
}
.nucleo-icon-desktop:before {
    content: "\e965";
}
.nucleo-icon-disk:before {
    content: "\e989";
}
.nucleo-icon-dislike:before {
    content: "\e932";
}
.nucleo-icon-dollar:before {
    content: "\e91a";
}
.nucleo-icon-download:before {
    content: "\e902";
}
.nucleo-icon-drag:before {
    content: "\e93b";
}
.nucleo-icon-edit-box:before {
    content: "\e97a";
}
.nucleo-icon-eraser:before {
    content: "\e927";
}
.nucleo-icon-euro:before {
    content: "\e91b";
}
.nucleo-icon-eye:before {
    content: "\e97b";
}
.nucleo-icon-file:before {
    content: "\e937";
}
.nucleo-icon-file-blank:before {
    content: "\e936";
}
.nucleo-icon-files:before {
    content: "\e938";
}
.nucleo-icon-filter:before {
    content: "\e97c";
}
.nucleo-icon-flag:before {
    content: "\e945";
}
.nucleo-icon-flag-diagonal:before {
    content: "\e944";
}
.nucleo-icon-flag-finish:before {
    content: "\e963";
}
.nucleo-icon-flash:before {
    content: "\e94f";
}
.nucleo-icon-folder:before {
    content: "\e935";
}
.nucleo-icon-frame:before {
    content: "\e950";
}
.nucleo-icon-fullscreen:before {
    content: "\e903";
}
.nucleo-icon-gestures:before {
    content: "\e93c";
}
.nucleo-icon-gift:before {
    content: "\e961";
}
.nucleo-icon-globe:before {
    content: "\e958";
}
.nucleo-icon-goal:before {
    content: "\e91f";
}
.nucleo-icon-gps:before {
    content: "\e949";
}
.nucleo-icon-grid:before {
    content: "\e98c";
}
.nucleo-icon-grid-small:before {
    content: "\e98d";
}
.nucleo-icon-hamburger:before {
    content: "\e991";
}
.nucleo-icon-headphones:before {
    content: "\e966";
}
.nucleo-icon-heart:before {
    content: "\e98a";
}
.nucleo-icon-heartbeat:before {
    content: "\e941";
}
.nucleo-icon-help-square:before {
    content: "\e99b";
}
.nucleo-icon-hierarchy:before {
    content: "\e920";
}
.nucleo-icon-image:before {
    content: "\e951";
}
.nucleo-icon-info-square:before {
    content: "\e99c";
}
.nucleo-icon-key:before {
    content: "\e959";
}
.nucleo-icon-lab:before {
    content: "\e98e";
}
.nucleo-icon-laptop:before {
    content: "\e967";
}
.nucleo-icon-layers:before {
    content: "\e952";
}
.nucleo-icon-like:before {
    content: "\e933";
}
.nucleo-icon-link:before {
    content: "\e98f";
}
.nucleo-icon-link-broken:before {
    content: "\e990";
}
.nucleo-icon-list-bullet:before {
    content: "\e973";
}
.nucleo-icon-map:before {
    content: "\e946";
}
.nucleo-icon-medal:before {
    content: "\e92e";
}
.nucleo-icon-menu:before {
    content: "\e992";
}
.nucleo-icon-mic:before {
    content: "\e94b";
}
.nucleo-icon-mouse:before {
    content: "\e929";
}
.nucleo-icon-navigation:before {
    content: "\e969";
}
.nucleo-icon-note:before {
    content: "\e956";
}
.nucleo-icon-paint:before {
    content: "\e92a";
}
.nucleo-icon-paper:before {
    content: "\e931";
}
.nucleo-icon-paragraph:before {
    content: "\e993";
}
.nucleo-icon-copy:before {
    content: "\e92b";
}
.nucleo-icon-pen:before {
    content: "\e92c";
}
.nucleo-icon-phone:before {
    content: "\e92d";
}
.nucleo-icon-piechart:before {
    content: "\e918";
}
.nucleo-icon-pin:before {
    content: "\e947";
}
.nucleo-icon-pinch:before {
    content: "\e93d";
}
.nucleo-icon-player:before {
    content: "\e953";
}
.nucleo-icon-plug:before {
    content: "\e921";
}
.nucleo-icon-pound:before {
    content: "\e91c";
}
.nucleo-icon-print:before {
    content: "\e96b";
}
.nucleo-icon-pulse:before {
    content: "\e942";
}
.nucleo-icon-quote:before {
    content: "\e974";
}
.nucleo-icon-refresh:before {
    content: "\e911";
}
.nucleo-icon-remove:before {
    content: "\e97e";
}
.nucleo-icon-rotate:before {
    content: "\e93e";
}
.nucleo-icon-share:before {
    content: "\e994";
}
.nucleo-icon-share-diagnol:before {
    content: "\e912";
}
.nucleo-icon-share-right:before {
    content: "\e905";
}
.nucleo-icon-share-up:before {
    content: "\e904";
}
.nucleo-icon-shuffle:before {
    content: "\e906";
}
.nucleo-icon-signal:before {
    content: "\e986";
}
.nucleo-icon-small-add:before {
    content: "\e995";
}
.nucleo-icon-small-delete:before {
    content: "\e996";
}
.nucleo-icon-small-remove:before {
    content: "\e997";
}
.nucleo-icon-spaceship:before {
    content: "\e95a";
}
.nucleo-icon-speech:before {
    content: "\e930";
}
.nucleo-icon-star:before {
    content: "\e98b";
}
.nucleo-icon-steps:before {
    content: "\e943";
}
.nucleo-icon-stretch:before {
    content: "\e93f";
}
.nucleo-icon-support:before {
    content: "\e95b";
}
.nucleo-icon-tablet:before {
    content: "\e96c";
}
.nucleo-icon-tablet-reader:before {
    content: "\e96d";
}
.nucleo-icon-tag:before {
    content: "\e962";
}
.nucleo-icon-tap:before {
    content: "\e940";
}
.nucleo-icon-team:before {
    content: "\e9a1";
}
.nucleo-icon-text:before {
    content: "\e972";
}
.nucleo-icon-tile:before {
    content: "\e998";
}
.nucleo-icon-trash:before {
    content: "\e97f";
}
.nucleo-icon-tv:before {
    content: "\e96e";
}
.nucleo-icon-undo:before {
    content: "\e910";
}
.nucleo-icon-user:before {
    content: "\e9a2";
}
.nucleo-icon-user-run:before {
    content: "\e964";
}
.nucleo-icon-users-add:before {
    content: "\e99d";
}
.nucleo-icon-users-badge:before {
    content: "\e99e";
}
.nucleo-icon-users-circle:before {
    content: "\e99f";
}
.nucleo-icon-users-delete:before {
    content: "\e9a0";
}
.nucleo-icon-video:before {
    content: "\e954";
}
.nucleo-icon-watch:before {
    content: "\e96f";
}
.nucleo-icon-wifi:before {
    content: "\e970";
}
.nucleo-icon-world:before {
    content: "\e948";
}
.nucleo-icon-yen:before {
    content: "\e91d";
}
.nucleo-icon-zoom:before {
    content: "\e981";
}
.nucleo-icon-zoom-in:before {
    content: "\e980";
}